* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.jar binary
*.zip binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.wav binary
*.mp3 binary
*.mp4 binary
*.so binary
*.dll binary
*.dylib binary
*.ttf binary
*.otf binary
